/* start navbar */
.navbar{
    background-color: #FDC82F !important;
}

.nav-link :active {
    color: red !important;
}
li {
    color: red !important;
}
.navbar.navbar-expand-lg {
    color: #FDC82F;
    border-radius: 20px;
}

/* end navbar */

/* choix de langue */

.btn.btn-warning {
    color: red !important;
}
.container{
    text-align: center !important; 
}
